@import 'nib'

span.selected
  background-color black
  color white

.dropdownList
  position absolute
  background-color white
  padding 10px
  border 1px solid #dedede
  &:not(.visible)
    display none