@import 'nib'

span.selected


.suggestion-list
  position absolute
  max-height 196px
  background-color white
  border-radius 3px
  border 1px solid #dedede
  overflow hidden
  .suggestion
    padding 5px 15px

    &.selected
      background-color #aaa
      color white
  &:not(.visible)
    display none